@font-family:  'Chivo', sans-serif;

@section-header-font-size: 25px;
@section-header-font-color: #465055;
@section-header-bottom-padding: 15px;

.section-header {
    color: @section-header-font-color;
    font-size: @section-header-font-size;
    font-family: @font-family;
    font-weight: bold;
    padding-bottom: @section-header-bottom-padding;
}

@section-body-font-size: 15px;
@section-body-font-color: #000000;
@section-body-line-height: 150%;
@section-body-padding-bottom: 30px;

.section-body {
    color: @section-body-font-color;
    font-size: @section-body-font-size;
    font-family: @font-family;
    line-height: @section-body-line-height;
    padding-bottom: @section-body-padding-bottom;
}

@page-header-font-color: #1D77BC;
@page-header-font-size: 30px;
@page-header-text-shadow: 3px 3px 0 #CBD5D8;

.page-header {
    color: @page-header-font-color;
    font-size: @page-header-font-size;
    text-shadow: @page-header-text-shadow;
    font-family: @font-family;
}