#front_page_image {
    display:inline;
    float:left;
    margin-right:10px;
}

#about_kyle {
    margin-left:5px;
    margin-top:10px;
    padding-top:10px;
}

.section_heading {
    font-size:1.8em;
    font-weight:bold;
    text-decoration: underline;
}

.emphasize {
    font-size:1.4em;
}

html {
    font-family: 'Gudea', sans-serif;
}

/* Examples Page */

.example_container {
    margin-top:15px;
}

.example_image {
    float:left;
    margin-right:10px;
}

.instruction_list {
    margin-left:2em;
}

#games_canvas {
    background-color: #FFFFFF;
    display: inline;
}

#games_canvas_div {
    margin-left: auto;
    margin-right:auto;
    width: 500px;
    height:400px;
}