<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css" />
    {% endblock %}
</head>
<body>
    <div id="nav_bar_container">
        <div id="nav_bar">
            <div id="nav_bar_title_container">
            <div id="nav_bar_title">
                Vermeer Family Website
            </div>
            </div>
            <div id="nav_bar_list_container">
            <ul id="nav_bar_list">
                <li>
                    <div class="nav_bar_list_item">
                        <a href="/">Home</a>
                    </div>
                </li>
                <li>
                    <div class="nav_bar_list_item">
                        <a href="/family">Family</a>
                    </div>
                </li>
                <li>
                    <div class="nav_bar_list_item">
                        <a href="/games">Games</a>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div id="content_container">
    {% block content %}{% endblock %}
    </div>
    <div id="footer">
    {% block footer %}
    <script src="/static/javascripts/jQuery.js"></script>
    {%endblock%}
    </div>
</body>
</html>