{% extends "base.html" %}
{% block title %}Kyle's Blog{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css" />
{% endblock %}
{% block content %}
    <div class="l-row">
        <h1 class="page-header">Kyle's Blog</h1>
    </div>
        <div class="l-row">
            <div class="l-blog-nav-bar">
                {% if blog_post.previous is not none %}
                    <a id="previous-link" href="/blog/{{blog_post.previous.year}}/{{blog_post.previous.month}}/{{blog_post.previous.day}}/{{urlencode(blog_post.previous.title)}}"><span class="arrows">&lt;&lt;</span>Previous Article: {{blog_post.previous.title}}</a>
                {% endif %}
                {% if blog_post.next is not none %}
                    <a id="next-link" href="/blog/{{blog_post.next.year}}/{{blog_post.next.month}}/{{blog_post.next.day}}/{{urlencode(blog_post.next.title)}}">Next Article: {{blog_post.next.title}}<span class="arrows">&gt;&gt;</span></a>
                {% endif %}
                <div class="space_holder"></div>
            </div>
        </div>
        <div class="l-row">
            <div class="l-blog-post">
                <div class="l-blog-post-header">
                    <h1 class="blog-title">{{blog_post.title}}</h1>
                    <!--<h2 class="blog-author">{{blog_post.author}}</h2>-->
                    <h2 class="blog-date">{{blog_post.get_formatted_date()}}</h2>
                </div>
                <div class="l-blog-post-body">
                    {{blog_post.get_body_html()}}
                </div>
            </div>
         </div>
        {% if blog_posts is none %}
            <div class="l-row">
                <p>No blog posts!</p>
            </div>
        {% endif %}
{% endblock %}