{% extends "base.html" %}
{% block title %}Kyle's Blog{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css" />
{% endblock %}
{% block content %}
    <div class="l-row">
        <h1 class="page-header">Kyle's Blog</h1>
    </div>
    {% for blog_post in blog_posts %}
        <div class="l-row">
            <div class="l-blog-post">
                <div class="l-blog-post-header">
                    <h1 class="blog-title">{{blog_post.title}}</h1>
                    <!--<h2 class="blog-author">{{blog_post.author}}</h2>-->
                    <h2 class="blog-date">{{blog_post.get_formatted_date()}}</h2>
                </div>
                <div class="l-blog-post-body">
                    {{blog_post.get_body_html()}}
                </div>
            </div>
         </div>
    {% endfor %}
        {% if blog_posts is none %}
            <div class="l-row">
                <p>No blog posts!</p>
            </div>
        {% endif %}
{% endblock %}