{% extends "base.html" %}
{% block title %}Games!{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css?version=2" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/games.css" />
    <script src="/static/javascripts/brick_breaker.js"></script>
{% endblock %}
{% block content %}
    <p class="center_text page-header">Brick Breaker</p>
    <p class="center_text">Score: <span id="score_span"></span></p>
    
    <!-- Canvas -->
    <div id="games_canvas_div">
        <div style="position: relative; width: 559; height: 0">
            <div class="form_div" id="input-div">
                <p>Would you like to submit your score for a chance at being on the high score table?</p>
                <div class="name_input_div">
                    <label>Name: </label><input id="high_score_name_input" type="text" placeholder="Your Name"/>
                </div>
                <div id="buttons_div">
                    <div id="no_submit_button"></div><div id="submit_button"></div>
                </div>
            </div>
        </div>
        <canvas id="games_canvas" width="500" height="400">
        </canvas>
    </div>
    <!-- /Canvas -->
    
    <div id="high_score_div">
        <p class="high_score_title">High Scores: </p>
        <p id="top_score_1">1. {{top_score_1_DB.name}}: {{top_score_1_DB.score}}</p>
        <p id="top_score_2">2. {{top_score_2_DB.name}}: {{top_score_2_DB.score}}</p>
        <p id="top_score_3">3. {{top_score_3_DB.name}}: {{top_score_3_DB.score}}</p>
        <p id="top_score_4">4. {{top_score_4_DB.name}}: {{top_score_4_DB.score}}</p>
        <p id="top_score_5">5. {{top_score_5_DB.name}}: {{top_score_5_DB.score}}</p>
    </div>
    
    
    <!-- Create Game Script -->
    <script>
        create_game("games_canvas","#games_canvas_div","#submit_button","#no_submit_button","#high_score_name_input","#input-div");
    </script>
{% endblock %}