{% extends "base.html" %}
{% block title %}Contact Kyle{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css" />
{% endblock %}
{% block content %}
    <div class="l-row">
        <h2 class="section-header">Contact Kyle</h2>
        <p class="section-body">
            Please contact me at kvermeer at stanford dot edu, or contact me via my Facebook page or Twitter page, which can be accessed via the navigation bar.
        </p>
    </div>
{% endblock %}