{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/games.css" />
{% endblock %}
{% block content %}
    <p class="center_text emphasize">Games</p>
    <div class="game_stub">
        <a class="game_link" href="games/brickbreaker">
            <img class="game_stub_image" src="/static/images/BrickBreaker.png" alt="Brick Breaker"/>
            <p> Play a classic game of brick breaker! </p>
            <p> This games is written entirely in Javascript using the HTML5 canvas technology. </p>
            <p> Created: November 18, 2012 </p>
            <p> By: Kyle Vermeer </p>
        </a>
    </div>
{% endblock %}