{% extends "base.html" %}
{% block title %}Examples{% endblock %}
{% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/kyle.css" />
{% endblock %}
{% block content %}
    <div class="l-row">
        <h1 class="page-header">Examples of Kyle's Work</h1>
    </div>
    <div class="l-row">
        <a href="examples/whats_up" class="l-split3 link-box">
            <div>
                <h1>What's Up</h1>
                <img class="example_image" width="247" src="/static/images/WhatsUpLogo.png" alt="What's Up Logo"></img>
                <p>What's Up is a mobile web app aimed at organizing and consolidating news from many sources.  With the ability to get news streams on any custom topic, What's Up brings you complete news customization.</p>
            </div>
        </a>
        <a href="games/brickbreaker" class="l-split3 link-box">
            <div>
                <h1>Brick Breaker</h1>
                <img class="example_image" width="247" src="/static/images/BrickBreaker.png" alt="Brick Breaker!"></img>
                <p>Play a classic game of brick breaker! This game is written entirely in Javascript using the HTML 5 canvas.  This is Kyle's first attempt at HTML 5 graphics.</p>
            </div>
        </a>
    </div>
{% endblock %}