<!DOCTYPE HTML>
<html>
<head>
<title>Sara's Website</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/sara.css" />
</head>
<body>

<h1 class="color_orange font"> Sara's Website </h1>
<h3 class=" underline"> About Sara </h3>

<p> This is Sara! </p>

<h3 class="underline"> Sara's Hobbies </h3>
<p> Sara's hobbies include playing basketball, reading all different kinds 
of books and drinking delicious coffee! </p>

<a href="http://www.kylevermeer.com"> Click here to see my SEXY boyfriend's website! </a>
</body>
</html>